body{
background: linear-gradient(to right,#ffdde1,#ee9ca7);
font-family: Arial;
text-align: center;
margin-top: 80px;
overflow-y:auto;
}

.container{
background:white;
padding:30px;
border-radius:20px;
width:90%;
max-width:400px;
margin:auto;
box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}

h1{
color:#ff3366;
}

.mensaje{
font-size:18px;
}

button{
padding:15px;
font-size:18px;
background:#ff3366;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
margin-top:15px;
}

button:hover{
background:#ff1a53;
}

.foto{
width:100%;
max-width:250px;
border-radius:15px;
margin:15px;
}

/* corazones animados */
.corazon{
position:fixed;
color:red;
animation:subir 4s linear infinite;
}

@keyframes subir{
0%{transform:translateY(0);}
100%{transform:translateY(-800px);}

}
